body{
    background-color: white;
    background-repeat: no-repeat;
    font-family: "Calibri Light";
    color: #122E30;
    margin: 0; padding: 0;
}
#menu{
    color: white;
    width: 100%;
    height: 70px;
    background-color: white;
    display: inline-block;
    padding-bottom: 30px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-left: 800px;
    font-family: "Calibri";
    
}
#menu a{
    background-color: white;
    color: #00688B;
    text-decoration: none;
    margin: 0px 0px;
    padding: 30px 30px 25px 25px;
    font-size: 16px;
    font-family: "Calibri";
    float: left;
}
#menu a:hover{
    text-decoration: underline;
    cursor: pointer;
}
#usuario{
    padding-top: 28px;
    padding-right: 10px;
    padding-left: 70px;
    width: 20px; height: 20px;
    float: left;
}
#logo{
    width: 270px; height: 100px;
    float: left;

}
#formulario input[type="submit"]{
     padding: 10px 15px 10px 15px;
     border-radius: 8px;
     border: none;
     background-color: #00688B;
     color: white;
}
#formulario input[type="text"]{
    padding: 8px 8px 8px 8px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    
}
#formulario input[type="password"]{
    padding: 8px 8px 8px 8px;
    border-radius: 8px;
    border: 1px solid lightgrey;
}

#formulario{
    padding-top: 1px;
    border-radius: 10px;
    background-position: left; 
}

#container{
    margin: 15px;
}
#container2{
    margin: 15px;
}

#login{
    background-repeat: no-repeat;
    padding: 12px 45px;
    margin: 0px 0px 0px 350px;
    border-radius: 7px;
    background-position: left;
    font-size: 11px;
    width: 100px;
    transition: width 1s;
    -webkit-transition: width 1s;                    
    
}

