body{
    width: 100%;
    background-color: white;
    background-repeat: no-repeat;
    font-family: "Calibri Light";
    color: #122E30;
    margin: 0; padding: 0;
}
#menu{
    color: white;
    width: 100%;
/*    height: 50px;*/
    background-color: #89cbc0;
    display: inline-block;
    padding-bottom: 30px;
    margin-bottom: 0px;
    padding-top: 30px; 
    padding-left: 200px;
    font-family: "Calibri";
}
/*#menu a{
    float: right;
}*/
#menu form{
    float: left;
    height: 10px;
    padding-top: 12px;
} 
#menu02{
    color: white;
    width: 100%;
    height: 1px;
    background-color: white;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-left: 150px;
    font-family: "Calibri";
/*    float: left;*/
    
}
#menu02 a{
    background-color: white;
    color: #00688B;
    text-decoration: none;
/*    margin-left: 10px;*/
    padding: 70px 45px 5px 5px;
    font-size: 16px;
    font-family: "Calibri";
    float: left;
}
#menu02 a:hover{
    cursor: pointer;
}
#logo{
    width: 342px; height: 130px;
    float: left;
    padding-right: 25px;
}
#olho{
    width: 100%;
    position: absolute;
}
#facebook{
    padding-left: 30px;
    padding-top: 20px; 
    width: 30px; height: 30px;
}
#instagram{
    padding-left: 30px;
    padding-top: 20px; 
    width: 30px; height: 30px;
}
#twitter{
    padding-left: 30px;
    padding-top: 20px;
    width: 30px; height: 30px;
}
#divface{
    width: 600px;
    float: right;
}
#redes{
    color: white;
    width: 135px;
    float: right;
    padding-top: 28px;
}
#usuario{
    padding-top: 18px;
    padding-right: 10px;
    padding-left: 10px;
    width: 25px; height: 25px;
    float: left;
}
#facebook{
    width: 30px; height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
}

#formulario input[type="submit"]{
     padding: 10px 15px 10px 15px;
     border-radius: 8px;
     border: none;
     background-color: white;
     color: #00688B;
     cursor: pointer;
}
#formulario input[type="text"]{
    padding: 8px 8px 8px 8px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    
}
#formulario input[type="password"]{
    padding: 8px 8px 8px 8px;
    border-radius: 8px;
    border: 1px solid lightgrey;
}

#formulario{
    padding-top: 1px;
    border-radius: 10px;
    background-position: left; 
}

#container{
    margin-top: 120px;
    margin-left: 25px;
}
#container2{
    margin: 25px;
}
#login{
    background-repeat: no-repeat;
    padding: 12px 45px;
    margin: 0px 0px 0px 350px;
    border-radius: 7px;
    background-position: left;
    font-size: 11px;
    width: 100px;
    transition: width 1s;
    -webkit-transition: width 1s;                      
}

#marcarConsulta{
    width: 62%; height: 170px;
    background-color: #EEE9E9;
    margin-left: 340px;
    margin-top: 750px;
    position: relative;
}
#lblmarcar{
    font-size: 30px;
    margin: 60px 0px 0px 50px;
    position: absolute;
    color: #00688B;
    font-weight: bold;
}
#btnMarcar{
    margin: 50px 0px 0px 780px;
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #00688B;
    border: none;
    color: white;
    font-size: 20px; 
    cursor: pointer;
}
#rodape{
    width: 100%; 
    height: 100%;
    background-color: #EEE9E9;
    margin-left: 0px;
    margin-top: 1290px;
}
#rodapeCliente{
    width: 100%; 
    height: 170px;
    background-color: #EEE9E9;
    margin-left: 0px;
    margin-top: 200px;
}
#rodapeClientes{
    width: 100%; 
    height: 170px;
    background-color: #EEE9E9;
    margin-left: 0px;
    margin-top: 200px;
}
#rodapeCidade{
    width: 100%; 
    height: 170px;
    background-color: #EEE9E9;
    margin-left: 0px;
    margin-top: 200px;
}
#rodapeProced{
    width: 100%; 
    height: 170px;
    background-color: #EEE9E9;
    margin-left: 0px;
    margin-top: 200px;
}
#rodapeHora{
    width: 100%; 
    height: 170px;
    background-color: #EEE9E9;
    margin-left: 0px;
    margin-top: 200px;
}
#rodapeConsulta{
    width: 100%; 
    height: 170px;
    background-color: #EEE9E9;
    margin-left: 0px;
    margin-top: 420px;
}
#rodapeConsultas{
    width: 100%; 
    height: 170px;
    background-color: #EEE9E9;
    margin-left: 0px;
    margin-top: 420px;
}
#rodapeHorario{
    width: 100%; 
    height: 170px;
    background-color: #EEE9E9;
    margin-left: 0px;
    margin-top: 180px;
}

#frmCliente{
    margin-left: 80px;
    margin-top: 35px;
    margin-bottom: 60px;
}
#frmCliente label{
    font-size: 16px;
    color: #00688B;
}
#frmCliente input[type="text"]{
    padding: 8px 90px 8px 8px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    color: dimgray;
}
#frmCliente input[type="email"]{
    padding: 8px 90px 8px 8px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    color: dimgray;
}
#frmCliente input[type="password"]{
    padding: 8px 90px 8px 8px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    color: dimgray;
}
#frmCliente select[name="cidade"]{
    padding: 8px 90px 8px 8px;
    border-radius: 8px;
    border: 1px solid lightgrey; 
    color: dimgray;
}
#frmCliente input[type="file"]{
     padding: 10px 15px 10px 15px;
     border-radius: 8px;
     border: none;
     background-color: white;
     color: #00688B;
     cursor: pointer;
}
#frmCliente input[type="submit"]{
     padding: 12px 50px 12px 50px;
     border-radius: 8px;
     border: none;
     background-color: lightgrey;
     color: dimgray;
     cursor: pointer;
     font-size: 18px;
     font-family: "Calibri";
}
#frmCliente input[type="reset"]{
     padding: 12px 50px 12px 50px;
     border-radius: 8px;
     border: none;
     background-color: lightgrey;
     color: dimgray;
     cursor: pointer;
     font-size: 18px;
     font-family: "Calibri";
}
#frmCidade input[type="text"]{
    padding: 8px 90px 8px 8px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    color: dimgray;
}
#frmCidade{
    margin-left: 550px;
    margin-top: 60px;
    margin-bottom: 60px;
}
#frmCidade input[type="submit"]{
     padding: 12px 50px 12px 50px;
     border-radius: 8px;
     border: none;
     background-color: lightgrey;
     color: dimgray;
     cursor: pointer;
     font-size: 13px;
     font-family: "Calibri";
}

#tableCidade{
    margin-top: 20px;
    margin-left: 400px;
}
#tableCidade table{
    border-radius: 8px;
    background-color: #E3E9ED;
    border: none;  
}
#tableCidade  th{
    border-radius: 8px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;  
    color: #1D5D82;
    font-size: 18px;
    font-family: "Calibri";
}
#tableCidade td{
    border-radius: 8px;
    border: none;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    font-family: "Calibri";
    color: #91A3AD;
}
#tableCidade button{
     padding: 10px 15px 10px 15px;
     border-radius: 8px;
     border: none;
     background-color: white;
     color: #00688B;
     cursor: pointer;
}
#frmProced input[type="text"]{
    padding: 8px 90px 8px 8px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    color: dimgray;
}
#frmProced{
    margin-left: 380px;
    margin-top: 60px;
    margin-bottom: 60px;
}
#frmProced input[type="submit"]{
     padding: 12px 50px 12px 50px;
     border-radius: 8px;
     border: none;
     background-color: lightgrey;
     color: dimgray;
     cursor: pointer;
     font-size: 13px;
     font-family: "Calibri";
}

#tableProced{
    margin-top: 20px;
    margin-left: 250px;
}
#tableProced table{
    border-radius: 8px;
    background-color: #E3E9ED;
    border: none;  
}
#tableProced  th{
    border-radius: 8px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;  
    color: #1D5D82;
    font-size: 18px;
    font-family: "Calibri";
}
#tableProced td{
    border-radius: 8px;
    border: none;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    font-family: "Calibri";
    color: #91A3AD;
}
#tableProced button{
     padding: 10px 15px 10px 15px;
     border-radius: 8px;
     border: none;
     background-color: white;
     color: #00688B;
     cursor: pointer;
}
#frmHora input[type="text"]{
    padding: 8px 90px 8px 8px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    color: dimgray;
}
#frmHora{
    margin-left: 500px;
    margin-top: 60px;
    margin-bottom: 60px;
}
#frmHora input[type="submit"]{
     padding: 12px 50px 12px 50px;
     border-radius: 8px;
     border: none;
     background-color: lightgrey;
     color: dimgray;
     cursor: pointer;
     font-size: 13px;
     font-family: "Calibri";
}

#tableHora{
    margin-top: 20px;
    margin-left: 400px;
}
#tableHora table{
    border-radius: 8px;
    background-color: #E3E9ED;
    border: none;  
}
#tableHora  th{
    border-radius: 8px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;  
    color: #1D5D82;
    font-size: 18px;
    font-family: "Calibri";
}
#tableHora td{
    border-radius: 8px;
    border: none;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    font-family: "Calibri";
    color: #91A3AD;
}
#tableHora button{
     padding: 10px 15px 10px 15px;
     border-radius: 8px;
     border: none;
     background-color: white;
     color: #00688B;
     cursor: pointer;
}
#tableConsulta{
    margin-top: 20px;
    margin-left: 8px;
}
#tableConsulta table{
    border-radius: 8px;
    background-color: #E3E9ED;
    border: none;  
}
#tableConsulta  th{
    border-radius: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;  
    color: #1D5D82;
    font-size: 18px;
    font-family: "Calibri";
}
#tableConsulta td{
    border-radius: 8px;
    border: none;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-family: "Calibri";
    color: #91A3AD;
}
#tableConsulta button{
     padding: 10px 15px 10px 15px;
     border-radius: 8px;
     border: none;
     background-color: white;
     color: #00688B;
     cursor: pointer;
}
#tableCli{
    margin-top: 20px;
    margin-left: 50px;
}
#tableCli table{
    border-radius: 8px;
    background-color: #E3E9ED;
    border: none;  
}
#tableCli  th{
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 25px;
    border: none;  
    color: #1D5D82;
    font-size: 18px;
    font-family: "Calibri";
}
#tableCli td{
    border-radius: 8px;
    border: none;
    padding-left: 8px;
    padding-right: 19px;
    text-align: center;
    font-family: "Calibri";
    color: #91A3AD;
}
#tableCli button{
     padding: 10px 15px 10px 15px;
     border-radius: 8px;
     border: none;
     background-color: white;
     color: #00688B;
     cursor: pointer;
}
#tableMed{
    margin-top: 20px;
    margin-left: 50px;
}
#tableMed table{
    border-radius: 8px;
    background-color: #E3E9ED;
    border: none;  
}
#tableMed  th{
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 25px;
    border: none;  
    color: #1D5D82;
    font-size: 18px;
    font-family: "Calibri";
}
#tableMed td{
    border-radius: 8px;
    border: none;
    padding-left: 8px;
    padding-right: 17px;
    text-align: center;
    font-family: "Calibri";
    color: #91A3AD;
}
#tableMed button{
     padding: 10px 15px 10px 15px;
     border-radius: 8px;
     border: none;
     background-color: white;
     color: #00688B;
     cursor: pointer;
}
#btnMarcarNovaConsulta button{
     padding: 10px 30px 10px 30px;
     border-radius: 8px;
     border: none;
     background-color: lightgrey;
     color: dimgray;
     cursor: pointer;
     font-family: "Calibri";
     font-size: 18px;
     margin-left: 1000px;
}
#btnCadastrarNovoUsr button{
     padding: 10px 30px 10px 30px;
     border-radius: 8px;
     border: none;
     background-color: lightgrey;
     color: dimgray;
     cursor: pointer;
     font-family: "Calibri";
     font-size: 18px;
     margin-left: 1000px;
}
#frmConsulta select[name="procedimento"]{
    padding: 8px 90px 8px 8px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    color: dimgray;
}
#frmConsulta input[type="date"]{
    padding: 8px 90px 8px 8px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    color: dimgray;
}
#frmConsulta select[name="medico"]{
    padding: 8px 90px 8px 8px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    color: dimgray;
}
#frmConsulta select[name="horario"]{
    padding: 8px 90px 8px 8px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    color: dimgray;
}
#tipoCli select[name="tipo"]{
    padding: 8px 90px 8px 8px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    color: dimgray;
}
#frmConsulta{
    margin-left: 800px;
    margin-top: 120px;
    margin-bottom: 60px;
    position: absolute;
}
#frmConsulta input[type="submit"]{
     padding: 12px 50px 12px 50px;
     border-radius: 8px;
     border: none;
     background-color: lightgrey;
     color: dimgray;
     cursor: pointer;
     font-size: 13px;
     font-family: "Calibri";
}
#frmConsulta input[type="reset"]{
     padding: 12px 50px 12px 50px;
     border-radius: 8px;
     border: none;
     background-color: lightgrey;
     color: dimgray;
     cursor: pointer;
     font-size: 13px;
     font-family: "Calibri";
}

#localizacao{
    margin-top: 20px;
    margin-left: 100px;
    position: absolute;
}
#localizacao label{
    font-size: 26px;
    font-family: "Calibri";
    color: #00688B;
    font-weight: bold;
}
#endereco{
    margin-top: 60px;
    margin-left: 100px;
    position: absolute;
}
#endereco label{
    font-size: 20px;
    color: dimgray;
    text-align: left;
}
#iconeOlho{
    margin-top: 5px;
    margin-left: 790px;
    position: absolute;
    
}
#iconeOlho img{
    width: 100px;
    height: 100px;
}
#agendamento{
    margin-left: 890px;
    margin-top: 40px;
    
}
#agendamento label{
    font-size: 20px;
    font-family: "Calibri";
    color: #00688B;
    font-weight: bold;
}
#cadastro{
    margin-left: 80px;
    margin-top: 10px;
}
#cadastro label{
    font-size: 20px;
    font-family: "Calibri";
    color: #00688B;
    font-weight: bold;
}

#cirurgia{
    margin-left: 140px;
    margin-top: 110px;
    position: absolute;
}
#cirurgia:hover{
    -webkit-filter:grayscale(40%);
}
#exame{
    margin-left: 320px;
    margin-top: 110px;
    position: absolute;
}
#exame:hover{
    -webkit-filter:grayscale(40%);
}
#doenca{
    margin-left: 490px;
    margin-top: 110px;
    position: absolute;
}
#doenca:hover{
    -webkit-filter:grayscale(40%);
}
#lentes{
    margin-left: 650px;
    margin-top: 110px;
    position: absolute;
}
#lentes:hover{
    -webkit-filter:grayscale(40%);
}

#doencasTexto{
    margin-left: 20px;
    margin-top: 80px;
    font-size: 18px;
    color: gray;
}
#doencasTexto label{
    color: #00688B;
    font-size: 24px;
    font-weight: bold;
}
#tituloDoenca{
    font-size: 32px;
    margin-left: 20px;
    margin-top: 70px;
    font-weight: bold;
    color:#00688B;
    font-family: "arial";
}
#cirurgiaTexto{
    margin-left: 20px;
    margin-top: 80px;
    font-size: 18px;
    color: gray;
}
#cirurgiaTexto label{
    color: #00688B;
    font-size: 24px;
    font-weight: bold;
}
#tituloCirurgia{
    font-size: 32px;
    margin-left: 20px;
    margin-top: 70px;
    font-weight: bold;
    color:#00688B;
    font-family: "arial";
}
#exameTexto{
    margin-left: 20px;
    margin-top: 80px;
    font-size: 18px;
    color: gray;
}
#exameTexto label{
    color: #00688B;
    font-size: 24px;
    font-weight: bold;
}
#tituloExame{
    font-size: 32px;
    margin-left: 20px;
    margin-top: 70px;
    font-weight: bold;
    color:#00688B;
    font-family: "arial";
}
#lenteTexto{
    margin-left: 20px;
    margin-top: 80px;
    font-size: 18px;
    color: gray;
}
#lenteTexto label{
    color: #00688B;
    font-size: 24px;
    font-weight: bold;
}
#tituloLente{
    font-size: 32px;
    margin-left: 20px;
    margin-top: 70px;
    font-weight: bold;
    color:#00688B;
    font-family: "arial";
}
#testeTexto{
    margin-left: 20px;
    margin-top: 80px;
    font-size: 18px;
    color: gray;
}
#tituloTeste{
    font-size: 32px;
    margin-left: 20px;
    margin-top: 70px;
    font-weight: bold;
    color:#00688B;
    font-family: "arial";
}
#oftalmoTexto{
    margin-left: 20px;
    margin-top: 80px;
    font-size: 18px;
    color: gray;
}
#tituloOftalmo{
    font-size: 32px;
    margin-left: 20px;
    margin-top: 70px;
    font-weight: bold;
    color:#00688B;
    font-family: "arial";
}
#teste{
    margin-left: 10px;
    margin-top: 270px;
    position: absolute;
    width: 70%;
}
#pediatria{
    margin-left: 475px;
    margin-top: 270px;
    position: absolute;
    width: 70%;
}
#textOlhinho label{
    color: #00688B;
    font-size: 35px;
    font-family: "Calibri";
    font-weight: bold;
    margin-top: 570px;
    margin-left: 340px;
    position: absolute;
    cursor: pointer;
}
#textOlhinho label:hover{
    text-decoration: underline;
}
#Oftalmoped label{
    color: #00688B;
    font-size: 35px;
    font-family: "Calibri";
    font-weight: bold;
    margin-top: 570px;
    margin-left: 1199px;
    position: absolute;
    cursor: pointer;
}
#Oftalmoped label:hover{
    text-decoration: underline;
}
#visionl{
    width: 81%;
    margin-left: 160px;
    margin-top: 445px;
    position: absolute;
}
